#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

ul li {
  margin: 0 1rem;
}

.active {
  color: lime
}

@media screen and (max-width: 768px) {
  ul {
    flex-direction: column;
  }

  ul li {
    margin: 0.5rem;
  }
}